---

- name: Facts | retrieve current machine ip
  ansible.builtin.setup:
    gather_subset:
      - network
  register: current_host_facts
  delegate_facts: true

- name: Facts | debug network facts
  ansible.builtin.debug:
    var: current_host_facts
    verbosity: 2

- name: Facts | debug preferred_nic
  ansible.builtin.debug:
    var: preferred_nic
    verbosity: 3

- name: Facts | retrieve current hostname
  ansible.builtin.command: "hostname"
  changed_when: False
  register: securehost_current_hostname

- name: Facts | retrieve ipa server ip
  ansible.builtin.setup:
    gather_subset:
      - network
  register: ipamasterssetup
  delegate_facts: true
  delegate_to: "{{ groups[idm_group][0] }}" # TODO concat all masters IPs

- name: Facts | debug ipa server network information
  ansible.builtin.debug:
    msg: "{{ ipamasterssetup }}"
    verbosity: 2

- name: Facts | debug idm_preferred_nic
  ansible.builtin.debug:
    var: idm_preferred_nic
    verbosity: 3

- name: Facts | retrieve current hostname
  ansible.builtin.command: "hostname"
  changed_when: False
  delegate_facts: true
  delegate_to: "{{ groups[idm_group][0] }}" # TODO concat all masters IPs
  register: securehost_idm_current_hostname

- name: Facts | Set facts
  ansible.builtin.set_fact:
    securehost_currenthost_ip: "{{ current_host_facts.ansible_facts['ansible_' + preferred_nic | replace('-', '_')].ipv4.address if preferred_nic is defined else current_host_facts.ansible_facts.ansible_default_ipv4.address | default(current_host_facts.ansible_facts.ansible_all_ipv4_addresses[0]) }}"
    securehost_currenthost_hostname: "{{ hostname | default(securehost_current_hostname.stdout if securehost_current_hostname.stdout.endswith(company_domain) else idm_client_default_domain_prefix + '.' + company_domain) }}"
    securehost_idm_ip: "{{ ipamasterssetup.ansible_facts['ansible_' + idm_preferred_nic | replace('-', '_')].ipv4.address if idm_preferred_nic is defined and not idm_preferred_nic.skipped is defined else ipamasterssetup.ansible_facts.ansible_default_ipv4.address | default(ipamasterssetup.ansible_facts.ansible_all_ipv4_addresses[0]) }}"
    securehost_idm_hostname: "{{ [securehost_idm_current_hostname.stdout if securehost_idm_current_hostname is defined else (hostvars[groups[idm_group][0]].hostname | default(idm_server_default_domain_prefix + '.' + company_domain))] | flatten }}"

- name: Facts | client ip
  ansible.builtin.debug:
    msg: "{{ securehost_currenthost_ip }}"

- name: Facts | client hostname
  ansible.builtin.debug:
    msg: "{{ securehost_currenthost_hostname }}"

- name: Facts | idm ip
  ansible.builtin.debug:
    msg: "{{ securehost_idm_ip }}"

- name: Fact | idm hostname
  ansible.builtin.debug:
    msg: "{{ securehost_idm_hostname }}"

